<template>
    <div class="dropdown">
        <div @click="modalEditUser = true">Modifier</div>
        <Modal :open="modalEditUser">
            <h1 slot="title">Vous êtes sur le point de modifier un compte utilisateur</h1>
            <p slot="text">Veuillez entrer les informations</p>
            <div slot="input_container" class="input_container">
                <input type="text" name="" placeholder="Établissement" v-model="company">
                <input type="text" name="" placeholder="Rôle" v-model="role">
                <input type="text" name="" placeholder="Email" v-model="email">
            </div>
            <div slot="button_valid" class="button button_cancel pointer" @click="modalEditUser = false">Annuler</div>
            <div slot="button_cancel" class="button button_valid pointer">Valider</div>
        </Modal>
        <!-- <div class="line"></div> -->
        <div @click="modalRemoveUser = true">Supprimer</div>
        <Modal :open="modalRemoveUser">
            <h1 slot="title">Vous êtes sur le point de supprimer un compte utilisateur</h1>
            <p slot="text">Cette action est irréversible</p>
            <div slot="button_valid" class="button button_cancel pointer" @click="modalRemoveUser = false">Annuler</div>
            <div slot="button_cancel" class="button button_valid pointer">Valider</div>
        </Modal>
    </div>
</template>

<script>
import Modal from '@/components/Params/Modal'

export default {
    name: 'dropdown',
    components: { Modal },
    data() {
        return {
            modalEditUser: false,
            modalRemoveUser: false,
            company: '',
            role: '',
            email: ''
        }
    },
    watch: {
    },
    methods: {
        editUser(){ this.modalEditUser = true },
        removeUser(){ this.modalRemoveUser = true }
    }
}
</script>

<style scoped>

.dropdown{
    position: absolute;
    float: right;
    background-color: white;
    z-index: 20;
    box-shadow: 2px 2px 5px black;
    border-radius: 8px;
}
.dropdown div{
    padding: 1.5vh 1.5vw;
}
.dropdown div:last-child{ border-top: 1px solid #EFEFEF }
.dropdown div:hover{ color: #46A3BF }
</style>
