<template>
    <div id="Management">
        <div id="listHeader">
            <div class="addAccount">
                <div class="addAccount_button pointer" @click="modalAdd.open = true">
                    <i class="material-icons">add</i>
                    <span>Ajouter un compte</span>
                </div>
                <Modal name='' open='false' index='' v-if="modalAdd.open">
                    <h1 slot="title">{{ modalAdd.title }}</h1>
                    <p slot="text">{{ modalAdd.text }}</p>
                    <div slot="input_container" class="input_container" v-if="modalAdd.inputs">
                        <div v-for="input in modalAdd.inputs" :key="input.name">
                            <input type="text" name="" :placeholder="input.placeholder">
                        </div>
                    </div>
                    <div slot="button_valid" class="button button_cancel pointer" @click="modalAdd.open = false">{{ modalAdd.buttons[0] }}</div>
                    <div slot="button_cancel" class="button button_valid pointer" @click="addUser">{{ modalAdd.buttons[1] }}</div>
                </Modal>
            </div>
            <div class="searchBar">
                <input id="searchAccount_bar" type="text">
                <div class="searchButton pointer" @click="searchAccount">
                    <i class="material-icons">search</i>
                </div>
            </div>
        </div>
        <div class="accountList">
            <h2 v-if="searchDone">Résultats de recherche pour « {{ searchValue }} »</h2>
            <table>
                <thead>
                    <tr>
                        <th v-for="key in columns" :key="key">
                            {{ key }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <user-line v-for="account in accounts" :key="account.id" :account="account"/>
                    <!--
                        <tr>
                            <td></td>
                            <td></td>
                            <InfiniteLoading @infinite="infiniteHandler"></InfiniteLoading>
                            <td></td>
                            <td></td>
                        </tr>
                        -->
                </tbody>
            </table>


        </div>

    </div>
</template>

<script>
// @ is an alias to /src
import Modal from '@/components/Params/Modal.vue'
import userLine from '@/components/Params/userLine.vue'
import InfiniteLoading from 'vue-infinite-loading';

export default {
    name: 'management',
    components: {
        Modal,
        InfiniteLoading,
        userLine
    },
    data() {
        return {
            searchDone: false,
            searchValue: '',
            modalModify: {
                name: 'modifyAccount',
                open: false,
                title: 'Vous êtes sur le point de modifier un compte utilisateur',
                text: 'Veuillez entrer les informations',
                inputs: [
                    { company: '', placeholder: 'Établissement' },
                    { role: '', placeholder: 'Rôle' },
                    { email: '', placeholder: 'Email' }
                ],
                buttons: [ 'Annuler', 'Confirmer']
            },
            modalAdd: {
                name: 'modifyAccount',
                open: false,
                title: 'Vous êtes sur le point d\'ajouter un compte utilisateur',
                text: 'Veuillez entrer les informations',
                inputs: [
                    { company: '', placeholder: 'Établissement' },
                    { role: '', placeholder: 'Rôle' },
                    { email: '', placeholder: 'Email' }
                ],
                buttons: [ 'Annuler', 'Confirmer']
            },
            columns: [
                'Email',
                'Établissement',
                'Rôle',
                'Date de création',
                'Actions'
            ],
            accounts: [
                {
                    id: 0,
                    email: 'mikebhand@wise.com',
                    company: 'Wise',
                    role: 'Admin',
                    created: '25 Apr, 2018',
                    actions: {
                        details: false,
                        modify: false,
                        delete: false
                    }
                },
                {
                    id: 1,
                    email: 'mikebhand@wise.com',
                    company: 'Wise',
                    role: 'Admin',
                    created: '25 Apr, 2018',
                    actions: {
                        details: false,
                        modify: false,
                        delete: false
                    }
                },
                {
                    id: 2,
                    email: 'mikebhand@wise.com',
                    company: 'Wise',
                    role: 'Admin',
                    created: '25 Apr, 2018',
                    actions: {
                        details: false,
                        modify: false,
                        delete: false
                    }
                },
                {
                    id: 3,
                    email: 'mikebhand@wise.com',
                    company: 'Wise',
                    role: 'Admin',
                    created: '25 Apr, 2018',
                    actions: {
                        details: false,
                        modify: false,
                        delete: false
                    }
                },
                {
                    id: 4,
                    email: 'mikebhand@wise.com',
                    company: 'Wise',
                    role: 'Admin',
                    created: '25 Apr, 2018',
                    actions: {
                        details: false,
                        modify: false,
                        delete: false
                    }
                },
                {
                    id: 5,
                    email: 'mikebhand@wise.com',
                    company: 'Wise',
                    role: 'Admin',
                    created: '25 Apr, 2018',
                    actions: {
                        details: false,
                        modify: false,
                        delete: false
                    }
                },
                {
                    id: 6,
                    email: 'mikebhand@wise.com',
                    company: 'Wise',
                    role: 'Admin',
                    created: '25 Apr, 2018',
                    actions: {
                        details: false,
                        modify: false,
                        delete: false
                    }
                },
                {
                    id: 7,
                    email: 'mikebhand@wise.com',
                    company: 'Wise',
                    role: 'Admin',
                    created: '25 Apr, 2018',
                    actions: {
                        details: false,
                        modify: false,
                        delete: false
                    }
                },
                {
                    id: 8,
                    email: 'mikebhand@wise.com',
                    company: 'Wise',
                    role: 'Admin',
                    created: '25 Apr, 2018',
                    actions: {
                        details: false,
                        modify: false,
                        delete: false
                    }
                },
                {
                    id: 9,
                    email: 'mikebhand@wise.com',
                    company: 'Wise',
                    role: 'Admin',
                    created: '25 Apr, 2018',
                    actions: {
                        details: false,
                        modify: false,
                        delete: false
                    }
                },
                {
                    id: 10,
                    email: 'mikebhand@wise.com',
                    company: 'Wise',
                    role: 'Admin',
                    created: '25 Apr, 2018',
                    actions: {
                        details: false,
                        modify: false,
                        delete: false
                    }
                },
                {
                    id: 11,
                    email: 'mikebhand@wise.com',
                    company: 'Wise',
                    role: 'Admin',
                    created: '25 Apr, 2018',
                    actions: {
                        details: false,
                        modify: false,
                        delete: false
                    }
                },
                {
                    id: 12,
                    email: 'mikebhand@wise.com',
                    company: 'Wise',
                    role: 'Admin',
                    created: '25 Apr, 2018',
                    actions: {
                        details: false,
                        modify: false,
                        delete: false
                    }
                },
                {
                    id: 13,
                    email: 'mikebhand@wise.com',
                    company: 'Wise',
                    role: 'Admin',
                    created: '25 Apr, 2018',
                    actions: {
                        details: false,
                        modify: false,
                        delete: false
                    }
                },
                {
                    id: 14,
                    email: 'mikebhand@wise.com',
                    company: 'Wise',
                    role: 'Admin',
                    created: '25 Apr, 2018',
                    actions: {
                        details: false,
                        modify: false,
                        delete: false
                    }
                },
                {
                    id: 15,
                    email: 'mikebhand@wise.com',
                    company: 'Wise',
                    role: 'Admin',
                    created: '25 Apr, 2018',
                    actions: {
                        details: false,
                        modify: false,
                        delete: false
                    }
                },
                {
                    id: 16,
                    email: 'mikebhand@wise.com',
                    company: 'Wise',
                    role: 'Admin',
                    created: '25 Apr, 2018',
                    actions: {
                        details: false,
                        modify: false,
                        delete: false
                    }
                },
                {
                    id: 17,
                    email: 'mikebhand@wise.com',
                    company: 'Wise',
                    role: 'Admin',
                    created: '25 Apr, 2018',
                    actions: {
                        details: false,
                        modify: false,
                        delete: false
                    }
                },
                {
                    id: 18,
                    email: 'mikebhand@wise.com',
                    company: 'Wise',
                    role: 'Admin',
                    created: '25 Apr, 2018',
                    actions: {
                        details: false,
                        modify: false,
                        delete: false
                    }
                }
            ]
        }
    },
    computed: {
    },
    methods: {
        toggleModal(bool, index){
            this.modals[index].open = bool
        },
        sortBy: function (key) {
            this.sortKey = key
            this.sortOrders[key] = this.sortOrders[key] * -1
        },
        changeActionState (details) {
            details = false;
        },
        infiniteHandler($state) {
            const axios = this.getAxios()
            axios.get(api, {
                params: {
                    page: this.page,
                },
            }).then(({ data }) => {
                if (data.hits.length) {
                    this.page += 1;
                    this.list.push(...data.hits);
                    $state.loaded();
                } else {
                    $state.complete();
                }
            });
        },
        searchAccount: function() {
            this.searchValue = document.getElementById('searchAccount_bar').value
            this.searchDone = true
        },
        addUser: function() {
            console.log('Add User')
        }
    },
    mounted() {
    },
    updated() {
    },
}
</script>

<style scoped>
#Management{
    padding: 20px;
}
#listHeader{
    display: flex;
    justify-content: space-between;
}
.addAccount_button{
    background-color: #46A3BF;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 20px;
}
#searchAccount_bar
{
    margin-left: 10px;
}
.addAccount_button:hover{ background-color: #5bb7cc;}
.addAccount_button i{ padding-right: 10px; }
.searchBar input, .searchBar .searchButton{ display: inline-block; }
.searchBar{ vertical-align: middle; display: flex; }
.searchBar .searchButton{
    background-color: #46A3BF;
    height: 100%;
    color: #ffffff;
    width: 100%;
    display: block;
    border-radius: 5px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBar .searchButton i{ padding: 10px; }
.searchBar .searchButton:hover{ background-color: #5bb7cc;}
.accountList table{
    background-color: #fff;
    width: 100%;
    max-height: 73vh;
    border-spacing: 0px;
    border-radius: 10px;
    margin-top: 2vh;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.accountList table td, .accountList table th{
    padding: 2vh;
}
th
{
    border-bottom: 1px solid #4b4b4b80;
}
</style>
