<template>
    <div id="Offers">
        <div class="bigInuptsContainer">
            <template v-for="modal in modals">
                <div class="addFormations" :key="modal.name">
                    <div class="card" :class="modal.name" @click="modal.open = true">
                        <div class="container">
                            <i class="material-icons"> add </i>
                            <p>{{ modal.name }}</p>
                        </div>
                    </div>
                </div>
                <Modal :name="modal.name" :index="index" @toggleEmit="toggleModal" :open="modal.open" :key="modal.name">
                    <h1 slot="title">{{ modal.title }}</h1>
                    <p slot="text">{{ modal.text }}</p>
                    <div slot="input_container" class="input_container" v-if="modal.inputs">
                        <div v-for="input in modal.inputs" :key="input.name"></div>
                    </div>
                    <div slot="button_valid" class="button button_cancel" @click="modal.open = false">{{ modal.buttons[0] }}</div>
                    <div slot="button_cancel" class="button button_valid">{{ modal.buttons[1] }}</div>
                </Modal>
            </template>
        </div>
         <div class="accountList">
            <h2 v-if="searchDone">Résultat de recherche pour « {{ searchValue }} »</h2>
            <table>
                <thead>
                    <tr>
                        <th v-for="key in columns" :key="key">
                            {{ key }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <user-line v-for="account in accounts" :key="account.id" :account="account" :state="'   '"/>
                    <!--
                        <tr>
                            <td></td>
                            <td></td>
                            <InfiniteLoading @infinite="infiniteHandler"></InfiniteLoading>
                            <td></td>
                            <td></td> 
                        </tr>
                        -->
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
// @ is an alias to /src
import Modal from '@/components/Params/Modal.vue'

export default {
    name: 'offers',
    components: { Modal },
    data() {
        return {
            modals: [
                {
                    name: 'addFormation',
                    open: false,
                    title: 'Vous êtes sur le point d’ajouter un compte utilisateur',
                    text: 'Veuillez entrer les informations',
                    inputs: [],
                    buttons: [ 'Annuler', 'Confirmer']
                },
                {
                    name: 'addExcell',
                    open: false,
                    title: 'Vous êtes sur le point d’ajouter un fichier excell contenant des utilisateurs',
                    text: 'Veuillez télécharger votre fichier',
                    inputs: [],
                    buttons: [ 'Annuler', 'Confirmer']
                }
            ],
            columns: [
                'Email',
                'Établissement',
                'Rôle',
                'Date de création',
                'Actions'
            ],
            accounts:  [
                {
                id: 1,
                title : 'Formation de test',
                name : 'Etablissement de test',
                postcode: '49000',
                city: 'Angers',
                formDate: moment('2008-09-15T15:53:00+05:00').format('DD/MM/YYYY'),
                formDuration: '24',
                createdDate: '5',
                img: 'https://placebear.com/800/800',
                formDescription: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et orci non enim posuere fermentum.
                Proin ultricies nibh ut vestibulum sollicitudin. Fusce ultricies massa a purus pretium malesuada. Duis non risus arcu.
                Nam scelerisque maximus pharetra. Cras facilisis libero sed ornare ultrices. Donec porttitor tellus ut lobortis ornare.
                Sed ultrices dui sit amet tristique venenatis.<br><br><b>Sed fermentum</b> ipsum ac nisi dapibus, vitae dapibus sem tincidunt. Quisque
                ut dignissim massa, in ornare lacus. Etiam ac nisl tempor, tempor augue eget, varius libero. Nam scelerisque, sem a laoreet
                commodo, urna erat scelerisque magna, at gravida tellus justo in dolor. Mauris non sollicitudin neque, vel aliquam tellus.
                Sed tincidunt nisi neque, nec facilisis turpis commodo id. Orci varius natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Nulla venenatis aliquam <br>sapien ac gravida. Orci varius natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus. Duis malesuada sed neque eu condimentum. <u>Pellentesque tempus laoreet nisl, sed lacinia libero
                dictum ac. Curabitur finibus egestas facilisis. Sed semper lectus vel dolor</u> dapibus volutpat. `,
                calculatedEndDate: moment('2012-09-25T15:53:00+05:00').format('DD/MM/YYYY'),
                },
                {
                id: 2,
                title : 'Formation de test',
                name : 'Etablissement de test',
                postcode: '49000',
                city: 'Angers',
                formDate: moment('2008-09-15T15:53:00+05:00').format('DD/MM/YYYY'),
                formDuration: '24',
                createdDate: '5',
                img: 'https://placebear.com/800/800',
                formDescription: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et orci non enim posuere fermentum.
                Proin ultricies nibh ut vestibulum sollicitudin. Fusce ultricies massa a purus pretium malesuada. Duis non risus arcu.
                Nam scelerisque maximus pharetra. Cras facilisis libero sed ornare ultrices. Donec porttitor tellus ut lobortis ornare.
                Sed ultrices dui sit amet tristique venenatis.<br><br><b>Sed fermentum</b> ipsum ac nisi dapibus, vitae dapibus sem tincidunt. Quisque
                ut dignissim massa, in ornare lacus. Etiam ac nisl tempor, tempor augue eget, varius libero. Nam scelerisque, sem a laoreet
                commodo, urna erat scelerisque magna, at gravida tellus justo in dolor. Mauris non sollicitudin neque, vel aliquam tellus.
                Sed tincidunt nisi neque, nec facilisis turpis commodo id. Orci varius natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Nulla venenatis aliquam <br>sapien ac gravida. Orci varius natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus. Duis malesuada sed neque eu condimentum. <u>Pellentesque tempus laoreet nisl, sed lacinia libero
                dictum ac. Curabitur finibus egestas facilisis. Sed semper lectus vel dolor</u> dapibus volutpat. `,
                calculatedEndDate: moment('2012-09-25T15:53:00+05:00').format('DD/MM/YYYY'),
                },
                {
                id: 3,
                title : 'Formation de test',
                name : 'Etablissement de test',
                postcode: '49000',
                city: 'Angers',
                formDate: moment('2008-09-15T15:53:00+05:00').format('DD/MM/YYYY'),
                formDuration: '24',
                createdDate: '5',
                img: 'https://placebear.com/800/800',
                formDescription: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et orci non enim posuere fermentum.
                Proin ultricies nibh ut vestibulum sollicitudin. Fusce ultricies massa a purus pretium malesuada. Duis non risus arcu.
                Nam scelerisque maximus pharetra. Cras facilisis libero sed ornare ultrices. Donec porttitor tellus ut lobortis ornare.
                Sed ultrices dui sit amet tristique venenatis.<br><br><b>Sed fermentum</b> ipsum ac nisi dapibus, vitae dapibus sem tincidunt. Quisque
                ut dignissim massa, in ornare lacus. Etiam ac nisl tempor, tempor augue eget, varius libero. Nam scelerisque, sem a laoreet
                commodo, urna erat scelerisque magna, at gravida tellus justo in dolor. Mauris non sollicitudin neque, vel aliquam tellus.
                Sed tincidunt nisi neque, nec facilisis turpis commodo id. Orci varius natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Nulla venenatis aliquam <br>sapien ac gravida. Orci varius natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus. Duis malesuada sed neque eu condimentum. <u>Pellentesque tempus laoreet nisl, sed lacinia libero
                dictum ac. Curabitur finibus egestas facilisis. Sed semper lectus vel dolor</u> dapibus volutpat. `,
                calculatedEndDate: moment('2012-09-25T15:53:00+05:00').format('DD/MM/YYYY'),
                },
                {
                id: 4,
                title : 'Formation de test',
                name : 'Etablissement de test',
                postcode: '49000',
                city: 'Angers',
                formDate: moment('2008-09-15T15:53:00+05:00').format('DD/MM/YYYY'),
                formDuration: '24',
                createdDate: '5',
                img: 'https://placebear.com/800/800',
                formDescription: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et orci non enim posuere fermentum.
                Proin ultricies nibh ut vestibulum sollicitudin. Fusce ultricies massa a purus pretium malesuada. Duis non risus arcu.
                Nam scelerisque maximus pharetra. Cras facilisis libero sed ornare ultrices. Donec porttitor tellus ut lobortis ornare.
                Sed ultrices dui sit amet tristique venenatis.<br><br><b>Sed fermentum</b> ipsum ac nisi dapibus, vitae dapibus sem tincidunt. Quisque
                ut dignissim massa, in ornare lacus. Etiam ac nisl tempor, tempor augue eget, varius libero. Nam scelerisque, sem a laoreet
                commodo, urna erat scelerisque magna, at gravida tellus justo in dolor. Mauris non sollicitudin neque, vel aliquam tellus.
                Sed tincidunt nisi neque, nec facilisis turpis commodo id. Orci varius natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Nulla venenatis aliquam <br>sapien ac gravida. Orci varius natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus. Duis malesuada sed neque eu condimentum. <u>Pellentesque tempus laoreet nisl, sed lacinia libero
                dictum ac. Curabitur finibus egestas facilisis. Sed semper lectus vel dolor</u> dapibus volutpat. `,
                calculatedEndDate: moment('2012-09-25T15:53:00+05:00').format('DD/MM/YYYY'),
                },
                {
                id: 5,
                title : 'Formation de test',
                name : 'Etablissement de test',
                postcode: '49000',
                city: 'Angers',
                formDate: moment('2008-09-15T15:53:00+05:00').format('DD/MM/YYYY'),
                formDuration: '24',
                createdDate: '5',
                img: 'https://placebear.com/800/800',
                formDescription: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et orci non enim posuere fermentum.
                Proin ultricies nibh ut vestibulum sollicitudin. Fusce ultricies massa a purus pretium malesuada. Duis non risus arcu.
                Nam scelerisque maximus pharetra. Cras facilisis libero sed ornare ultrices. Donec porttitor tellus ut lobortis ornare.
                Sed ultrices dui sit amet tristique venenatis.<br><br><b>Sed fermentum</b> ipsum ac nisi dapibus, vitae dapibus sem tincidunt. Quisque
                ut dignissim massa, in ornare lacus. Etiam ac nisl tempor, tempor augue eget, varius libero. Nam scelerisque, sem a laoreet
                commodo, urna erat scelerisque magna, at gravida tellus justo in dolor. Mauris non sollicitudin neque, vel aliquam tellus.
                Sed tincidunt nisi neque, nec facilisis turpis commodo id. Orci varius natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Nulla venenatis aliquam <br>sapien ac gravida. Orci varius natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus. Duis malesuada sed neque eu condimentum. <u>Pellentesque tempus laoreet nisl, sed lacinia libero
                dictum ac. Curabitur finibus egestas facilisis. Sed semper lectus vel dolor</u> dapibus volutpat. `,
                calculatedEndDate: moment('2012-09-25T15:53:00+05:00').format('DD/MM/YYYY'),
                },
            ]
        }
    },
    methods: {
        toggleModal(bool, index){
            this.modals[index].open = bool
        }
    },
    computed: {
    },
    mounted() {
    },
    updated() {
    }
}
</script>

<style scoped>
.addFormations{ display: inline-block; padding-top: 60px; }
.card{
    width: 20vw;
    height: 15vw;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card:hover{ box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); }
.card .container{ padding: 3vw; }
.card p{ font-size: 2vw; margin: 10px; }
.card i{ font-size: 5vw; }
.addFormation{ background-color: #46A3BF }
.addExcell{ border: 2px solid #46A3BF }
.addFormation p, .addFormation i{ color: #ffffff; }
.addExcell p, .addExcell i{ color: #46A3BF; }

.bigInuptsContainer
{
    width: 100%;
    height: 36vh;
}

#Offers
{
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.accountList table{
    background-color: #fff;
    width: 100%;
    max-height: 73vh;
    border-spacing: 0px;
    border-radius: 10px;
    margin-top: 2vh;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.accountList table td, .accountList table th{
    padding: 2vh;
}
th
{
    border-bottom: 1px solid #4b4b4b80;
}
</style>
