<template>
    <tr>
        <td v-if='state === "user"'> {{ account.email }} </td>
        <td v-if='state === "user"'> {{ account.email }} </td>
        <td v-if='state === "user"'> {{ account.company }} </td>
        <td v-if='state === "user"'> {{ account.role }} </td>
        <td v-if='state === "user"'> {{ account.created }} </td>
        <td class="details pointer" @click="showDetailsChangeStateTrue" v-click-outside="showDetailsChangeStateFalse">
            <div class="actionPoints"></div>
            <Dropdown v-if="showDetails"></Dropdown>
        </td>
    </tr>
</template>

<script>
import ClickOutside from 'vue-click-outside'
import Dropdown from '@/components/Params/dropdown'

export default {
    name: 'userLine',
    components: { Dropdown },
    directives: { ClickOutside },
    props: ['account', 'state'],
    data() {
        return {
            showDetails: false,
            userModify: false,
            modalEditUser: false,
            modalRemoveUser: false
        }
    },
    watch: {
    },
    methods: {
        showDetailsChangeStateTrue() {
            this.showDetails = true;
        },
        showDetailsChangeStateFalse() {
            this.showDetails = false;
        },
        editUser(){ this.modalEditUser = true },
        removeUser(){ this.modalRemoveUser = true }
    },
    async mounted() {
        if (this.state == 'user') {
            console.log(this.$session.get('token'));
            const axios = this.getAxios(this.$session.get('token'));
            this.value = axios.get('/user');
        }
        else if (this.state == 'form') {
        console.log(this.$session.get('token'));
            const axios = this.getAxios(this.$session.get('token'));
            this.value = axios.get('/formation');
        }
        this.value = this.account;
    }
}
</script>

<style scoped>
.actionPoints, .actionPoints::before, .actionPoints::after{
    width: 6px;
    height: 6px;
    border-radius: 20px;
    background-color: black;
    position: relative;
    margin: auto;
}
.actionPoints::before{
    content: '';
    position: absolute;
    left: -8px;
}
.actionPoints::after{
    content: '';
    position: absolute;
    right: -8px;
}
.details:hover{
    background-color: #efefef;
}

td
{
    border-bottom: 1px solid #EFEFEF;
    color: #4B4B4B;
    /* padding: 0; */
    padding: 1.25vh;
}
.dropdown{
    position: absolute;
    float: right;
    background-color: white;
    z-index: 20;
    box-shadow: 2px 2px 5px black;
    border-radius: 8px;
}
.dropdown div{
    padding: 1.5vh 1.5vw;
}
.dropdown div:last-child{ border-top: 1px solid #EFEFEF }
.dropdown div:hover{ color: #46A3BF }
</style>
