<template>
    <div id="Admin">
        <div id="left_menu">
            <li id="backToHome">
                <router-link class="router-link" :to="'/'">
                    <i class="material-icons color-white flexed-back" style="position: relative; left: 8px;">arrow_back_ios</i>
                    <p id="label">Retour vers l'acceuil</p>
                </router-link>
            </li>
            <ul>
                <li v-for="link in menu" :key="link.route">
                    <router-link class="router-link" v-if="link.statusNeeded >= userStatus" :to="{ name: link.route }">
                        <i class="material-icons color-white" v-html='link.icon'></i>
                        <p id="label">{{ link.name }}</p>
                    </router-link>
                </li>
            </ul>
        </div>
        <div id="ParamsContainer">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
// @ is an alias to /src
// Icons mean material icons
export default {
    name: 'admin',
    data() {
        return {
            menu: [
                { route: 'offers', name: 'Mes offres', statusNeeded: 2, icon: 'local_offer' },
                { route: 'account', name: 'Mon compte', statusNeeded: 2, icon: 'person' },
                { route: 'management', name: 'Gestion des comptes', statusNeeded: 1, icon: 'poll' } ,
            ],
            // 0 is SUPERADMIN, 1 is ADMIN, 2+ is the other roles
            userStatus: 0
        }
    },
    computed: {
    },
    mounted() {
    },
    updated() {
    }
}
</script>

<style scoped>
#Admin
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    height: 100%;
}

#Admin #left_menu{
    padding-top: 4vh;
    width: 300px;
    height: 110vh;
    background-color: #363636;
}
#Admin #left_menu ul{ margin: 0; padding: 0; }
#Admin #left_menu li{ list-style: none; }
#Admin #left_menu li a{
    width: 100%;
    height: 100%;
    display: block;
    padding: 1% 0;
    text-decoration: none;
    overflow: hidden;
    transition: .3s ease;
    background: linear-gradient(to right, transparent 50%, #46A3BF 50%);
    background-size: 200% 100%;
    background-position:left bottom;
}
#Admin #left_menu li:not(#backToHome) a:hover{ background-position:right bottom; }
#Admin #left_menu li a p{
    color: #fff;
    font-weight: 500;
    text-align: right;
    font-size: 18px;
    padding-right: 5%;
}
#Admin #left_menu li a.router-link-exact-active{
    background-color: #46A3BF;
}

#Admin #left_menu #backToHome:hover p{
    color: #46A3BF;
}
#Admin #ParamsContainer{
    width: 100%;
    padding-top: 4vh;
    height: 110vh;
}

.router-link
{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.material-icons
{
    font-size: 40px !important;
    margin-left: 10px;
}

@media screen and (max-width: 975px) {
    #Admin #left_menu
    {
        width: 62px;
    }
    #flexedBack
    {
        margin: 0;
    }
    #flexedBack span
    {
        display: none;
    }
    .material-icons
    {
        font-size: 40px !important;
        margin: 5px 0;
    }
    .router-link
    {
        justify-content: center;
    }
    .router-link #label
    {
        display: none;
    }
    .flexed-back
    {
        left: 8px;
    }

    #icon
    {
        margin: 0 !important;
        margin-top: 10px !important;
    }
}
</style>
