<template>
<div id='formation-container'>
    <div id="left" v-if="!isFirstCo">
        <span id="back" class="span_a" @click="toHome"><i class="material-icons" style="padding-left: 15px;">keyboard_arrow_left</i>Retour</span>
        <div id="imgContainer">
            <img :src="formation.img">
        </div>
    </div>
    <div id="right" v-bind:class="{ isNotFirstCoRight: !isFirstCo }">
        <span id="posted">Il y a {{ formation.createdDate }} jours</span>
        <h1>{{ formation.title }}</h1>
        <h2>{{ formation.name }}</h2>
        <h2>{{ formation.postcode }} - {{ formation.city }}</h2>
        <div id="formTimes">
            <h3>Du {{ formation.formDate }} au {{ formation.calculatedEndDate }}</h3>
            <h3>{{ formation.formDuration }} heures</h3><br>
        </div>
        <p id="description" v-html="formation.formDescription"></p>
        <div id="buttonContainer">
            <span id="otherInfos" class="span_a_static" @click="moreInfos = !moreInfos;"><i class="material-icons" style="margin-left: 15px; margin-right: 10px; font-size: 30px;"><span v-if="!moreInfos">arrow_drop_down</span><span v-if="moreInfos">arrow_drop_up</span></i>Plus d'informations</span>
        </div>
    </div>
</div>
</template>

<script>
export default {
    name: 'fullFormation',
    data() {
        return {
            formation: {
                id: 2,
                title : 'Formation de test',
                name : 'Etablissement de test',
                postcode: '49000',
                city: 'Angers',
                formDate: moment('2008-09-15T15:53:00+05:00').format('DD/MM/YYYY'),
                formDuration: '24',
                createdDate: '5',
                img: 'https://placebear.com/800/800',
                formDescription: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et orci non enim posuere fermentum.
                Proin ultricies nibh ut vestibulum sollicitudin. Fusce ultricies massa a purus pretium malesuada. Duis non risus arcu.
                Nam scelerisque maximus pharetra. Cras facilisis libero sed ornare ultrices. Donec porttitor tellus ut lobortis ornare.
                Sed ultrices dui sit amet tristique venenatis.<br><br><b>Sed fermentum</b> ipsum ac nisi dapibus, vitae dapibus sem tincidunt. Quisque
                ut dignissim massa, in ornare lacus. Etiam ac nisl tempor, tempor augue eget, varius libero. Nam scelerisque, sem a laoreet
                commodo, urna erat scelerisque magna, at gravida tellus justo in dolor. Mauris non sollicitudin neque, vel aliquam tellus.
                Sed tincidunt nisi neque, nec facilisis turpis commodo id. Orci varius natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Nulla venenatis aliquam <br>sapien ac gravida. Orci varius natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus. Duis malesuada sed neque eu condimentum. <u>Pellentesque tempus laoreet nisl, sed lacinia libero
                dictum ac. Curabitur finibus egestas facilisis. Sed semper lectus vel dolor</u> dapibus volutpat. `,
                calculatedEndDate: moment('2012-09-25T15:53:00+05:00').format('DD/MM/YYYY'),
            },
            moreInfos: false
        }
    },
    watch: {
    },
    methods: {
        toHome() {
            this.$router.push('/');
        }
    },
    async mounted() {
        // A DECOMENTER QUAND ON AURA L'API
        // const formId = this.$route.params.id;
        // const axios = this.getAxios(this.$session.get('token'));
        // const result = axios.get(`/hot/formation?id=${formId}`);
        // this.formation = result.data;
    }
}
</script>
<style scoped>
#back
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    font-size: 18px !important;
    padding: 10px 20px 10px 0;
    width: 70px;
}

#otherInfos
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 25px;
    font-size: 24px !important;
    font-weight: 400;
    padding: 20px 0;
    width: 100%;
}

#formation-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100vh;
    margin-top: 10vh;
}

#left
{
  width: 18%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

#right
{
    width: 82%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

#posted
{
    position: absolute;
    color: grey;
    font-weight: 400;
    font-size: 12px;
    top: 0;
    right: 0;
}

h1
{
    font-weight: 400;
    font-size: 44px;
    margin-bottom: 15px;
    margin-top: 0;
}

h2
{
    text-transform: uppercase;
    color: grey;
    margin: 0;
    font-weight: 400;
    font-size: 22px;
}

#description
{
    text-align: left;
    text-align: justify;
    margin-bottom: 25px;
}

#formTimes
{
    margin: 15px 0 25px 0;
    text-align: left;
}

h3
{
    font-weight: 400;
    font-size: 22px;
    margin: 0;
}

#imgContainer img
{
    margin: 20px;
    width: 80px;
    height: 80px;
}

#buttonContainer
{
    padding-bottom: 50px;
    width: 100%;
}

@media screen and (max-width: 975px) {

    #formation-container
    {
        position: absolute;
        top: 40px;
        width: 90%;
        flex-direction: column;
    }

    h1
    {
        font-size: 24px;
    }
    h2
    {
        font-size: 18px;
    }

    #description
    {
        text-align: left;
        text-align: justify;
        margin-bottom: 20px;
        margin-top: 0 !important;
    }

    #formTimes
    {
        margin: 15px 0 0 0;
        text-align: left;
    }

    h3
    {
        font-weight: 400;
        font-size: 18px;
        margin: 0;
    }
    #imgContainer img
    {
        width: 140px;
        height: 140px
    }
}
</style>
