<template>
    <div id="fullscreen-container" :style="getImgUrl">
        <!-- images will swap auto with this variable -->
 
    </div>
</template>

<script>
export default {
    data() {
        return {
            getImgUrl: '',
        }
    },
    props: ['formLength'],
    mounted() {
        const num = Math.floor(Math.random() * 2) + 1
        this.getImgUrl = `background-image: url('` + require('@/assets/back'+ num + '.jpg') + `');`; 
    },
}
</script>

<style scoped>
#fullscreen-container
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.legend
{
    z-index: 2;
    color: white;
    font-size: 2.5em;
}

.legend-margin
{
    margin: 1em 0.25em 0.25em 0.25em;
}

#infos-container
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
    position: absolute;
}

#circle
{
    position: relative;
    border: 4px solid rgb(121, 121, 121);
    background-color: white;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow: hidden
}

#circle img
{
    width: 70%;
    height: 70%;
}

#img
{
    z-index: 1;
    min-height: 100%;
    left: 0;
    top: 0;
}

@media screen and (max-width: 975px) {
    #infos-container
    {
        height: 80%;
    }
}
</style>
