<template>
    <div id="partners">
        <div class="container">
            <img src="@/assets/partners.png" alt="">
            <img src="@/assets/partners.png" alt="">
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
        }
    },
    mounted() {

    },
}
</script>

<style scoped>
#partners{
    overflow: hidden;
    width: 16%;
    position: absolute;
    left: 2%;
    bottom: 2%;
    border-top: 1px solid #EFEFEF;
}
.container{ width: 200vw; height: 82px; }
img{
    transform: translateX(-60%);
    animation: slide-carousel 20s linear infinite;
}

@keyframes slide-carousel {
    0%{ transform: translateX(-60%); }
    100%{ transform: translateX(-143%); }
}
</style>
