<template>
    <div @click="toFullForm" class="card">
        <div id="card-content">
            <span id="title">{{ formation.title }}</span>
            <span id="name">{{ formation.name }}</span>
            <span id="duration">{{ formation.formDate }} - {{ formation.formDuration }} heures</span>
            <div id="descContainer">
                <p id="description" v-html="formation.formDescription"></p>
            </div>
            <span id="dots"><i class="material-icons color-blue">arrow_forward</i></span>
            <span id="posted">Il y a {{ formation.createdDate }} jours</span>
        </div>
    </div>
</template>

<script>
// "NORMALEMENT CHAQUE CARD APPELLE SES DONNEES VIA L'ID DE SA FORMATION. ON NE PASSE PAS D'OBJET FORMATION COMME PROPS."

export default {
    name: 'Cards',
    props: ['id', 'formation'],
    data() {
        return {
        }
    },
    watch: {
        search () {
            this.$store.commit('searchVal', this.search);
        }
    },
    methods: {
        searchIt () {
            this.$session.set('isNotFirstCo', true);
            this.$store.commit('isFirstCo', false);
        },
        toFullForm () {
            this.$router.push('/formation/' + this.id);
        }
    }
}
</script>
<style scoped>
.card
{
    width: 330px;
    height: 330px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    position: relative;
    background-color: #ffffff;
}

.card:hover
{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#card-content
{
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#title
{
    font-size: 24px;
}

#name
{
    color: grey;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 16px;
}

#duration
{
    font-size: 16px;
    margin-bottom: 11px;
}

#description
{
    margin: 0;
    height: 9em;
    overflow: hidden;
    font-size: 1em;
    text-align: justify;
}

#descContainer
{
    height: 150px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#posted
{
    position: absolute;
    color: grey;
    font-weight: 400;
    font-size: 12px;
    bottom: 20px;
    left: 20px;
}

#dots
{
    position: absolute;
    bottom: 12px;
    right: 20px;
    font-size: 16px;
    background-color: #FAFBFC;
    padding-left: 9px;
}
.card:hover #dots{ animation: wiggle 4s ease infinite}
@media screen and (max-width: 975px) {

}
@keyframes wiggle {
    0%, 14%, 23%{ transform: translateX(0);}
    10%{ transform: translateX(-15px);}
    19%{ transform: translateX(-10px);}
    100%{ transform: translateX(0);}

}
</style>
