<template>
    <div class="filters">
        <h2>Filtres</h2>

        <h3>Certification</h3>
        <div class="filter">
            <label class="span_a"><input type="radio" v-model="certification" value="all" />Oui</label>
            <label class="span_a"><input type="radio" v-model="certification" value="certif" />Non</label>
        </div>

        <h3>Filtrer par :</h3>
        <div class="filterBy">
            <label class="span_a etab"><input type="radio" v-model="filterBy" name="filterBy" value="company" />Établissement</label>
            <label class="span_a etab"><input type="radio" v-model="filterBy" name="filterBy" value="place" />Lieu</label>
            <label class="span_a etab"><input type="radio" v-model="filterBy" name="filterBy" value="name" />Nom</label>
        </div>

        <div></div>
    </div>
</template>

<script>
export default {
    name: 'Filters',
    props: [],
    data() {
        return {
            certification: null,
            filterBy: null,
        }
    },
    watch: {
    },
    methods: {
    }
}
</script>
<style scoped>
h2
{
    font-size: 40px;
    margin-bottom: 5px;
}

h3
{
    border-top: 1px solid #8f8f8f33;
    margin-top: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
}

label
{
    background-color: #FAFBFC !important;
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}

.filterBy
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.etab
{
    width: 200px;
    margin-top: 10px
}

.filter
{
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}
</style>
