<template>
    <div class="header">
        <div class="flex-container">
            <div @click="$router.push('/')" class="item auto logo pointer"><img class="wiseLogo" src="@/assets/logo.png" alt="WISE"></div>
            <div class="item auto">
                <div class="leftElements" v-if="connect">
                    <div class="estConnecter">
                        <span class="utilisateur">{{ username }}</span>
                        <ul class="icones">
                            <li @click="$router.push('/admin')" class="icon pointer"><i class="material-icons">settings</i></li>
                            <li @click="logout" class="icon pointer"><i class="material-icons">power_settings_new</i></li>
                        </ul>
                    </div>
                </div>
                <div class="leftElements" v-else @click="displayConnexionInputs" v-click-outside="hideConnexionInputs">
                    <div class="estConnecter dropdown" >
                        <button class="dropbtn connexion_utilisateur"><div id="reverseRotate">Se connecter</div></button>
                    </div>
                    <div v-show="showConnect" class="dropdown-content" id="dropdownContent">
                        <logInputs/>
                        <div id="autreConnection">
                            <span class="span_a"><a id="paddingNo" href="">Mot de passe oublié</a></span>
                            <span class="span_a"><a id="noPadding" href="">Pas encore de compte ? </a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import logInputs from '@/components/logInputs.vue'
    import ClickOutside from 'vue-click-outside'

    export default {
        name: 'headerBar',
        props: ['connect'],
        data() {
            return {
                username: 'prenom nom',
                showConnect: false,
            }
        },
        directives: {
            ClickOutside
        },
        methods: {
            displayConnexionInputs() {
                this.showConnect = true;
            },
            hideConnexionInputs() {
                console.log('hello y a kku ??')
                this.showConnect = false;
            },
            logout() {
                this.$session.destroy();
                this.$store.commit('isConnected', false);
                this.$router.push('/');
            }
        },
        components: {
            logInputs
        }
    }
</script>
<style scoped>
    .header
    {
        width: 100%;
        height: 40px;
        color: #46A3BF;
        position: absolute;
        background-color: white;
        z-index: 15;
        left: 0;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    .flex-container {
        resize: horizontal;
        display: flex;
        height: 100%;
    }

    .logo {
        text-align: left;
        height: 100%;
    }
    .wiseLogo {
        width: auto;
        height: 100%;

    }

    .item {
        height: 100%;
        resize: horizontal;
    }


    .auto {
        flex: auto;
    }

    .estConnecter {
        text-align: right;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        overflow: hidden;
    }
    .icones {
        list-style-type: none;
        float: right;
        width: 30%;
        text-align: center;
        margin: 0;
    }
    .icon {
        float: left;
        border-left: 1px solid #D8DFE5;
        width: 48%;
        margin: 0;
    }
    .utilisateur {
        color: #46A3BF;
        padding: 0.2em;
    }
    .connexion_utilisateur {
        border: none;
        background-color: #009ec1;
        padding: 8px;
        cursor: pointer;
        height: 300px;
        transform: rotate(26deg);
        position: relative;
        left: 10px;
        width: 170px;
        box-shadow: none;
        border-radius: 0;
    }
    #reverseRotate
    {
        transform: rotate(-26deg);
        color: #FAFBFC;
        font-size: 20px;
        padding-right: 6%;
    }
    .leftElements {
        height: 100%;
    }

    /* Dropdown */
    .dropbtn {
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
    }

    .dropdown-content {
        position: absolute;
        background-color: white;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        right: 0;
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {background-color: #ddd;}

    .show {display: block;}

    /* Formulaire */
    .dropdown-content {
        color: white;
        height: auto;
        width: 20%;
        padding: 10px;
        border-radius: 8px;
        top: 47px;
        right: 7px;
    }
    .span_a {
        font-style: italic;
        color: #009ec1 ;
        padding: 0;
    }
    #paddingNo, #noPadding{
        padding-top: 0;
        padding-bottom: 0;
        color: #009ec1;
    }
    #autreConnection {
        margin-top: 15px;
    }
</style>
