<template>
  <div class="seConnecter">
    <input id="formConnect" type="text" placeholder="Adresse mail" v-model="email">
    <input class="formConnect" type="password" placeholder="Mot de passe" v-model="password">
    <button @click="connect">Me connecter</button>
  </div>
</template>

<script>
export default {
    name: 'headerBar',
    props: ['isFirstCo'],
    data() {
        return {
            email: '',
            password: ''
        }
    },
    watch: {
        search () {
            this.$store.commit('searchVal', this.search);
        }
    },
    methods: {
        async connect () {
            try {
                const axios = this.getAxios();
                const result = await axios.post('/login', { email: this.email, password: this.password });
                this.$store.state.commit('isConnected', true);
                this.$session.set('token', result.data);
            }
            catch (error) {
                this.parseError('error_while_connect');
            }
        }
    }
}
</script>
<style scoped>
.seConnecter
{
    margin: 8px 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

input
{
    width: 90%;
    margin: 10px;
    font-size: 20px;
    padding: 5px;
}

button
{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: 25px;
}

i
{
    color: white;
    font-size: 36px !important;
}

.isFirstCo
{
    background-color: #c0c0c0 !important;
    font-size: 50px;
    width: 100%;
    height: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.isFirstCoButton
{
    display: none;
}

@media screen and (max-width: 975px) {
    .seConnecter
    {
        margin-top: 50%;
        width: 90%;
        flex-direction: column;
        position: relative;
    }
    input
    {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 10px;
        font-size: 20px;
    }

    button
    {
        font-size: 20px;

    }

    #formConnect {
      font-size: 15px;
    }
}
</style>
