<template>
  <div class="searchBar">
    <input type="password" placeholder="Votre ancien mot de passe" v-model="oldPassword">
    <input type="password" placeholder="Votre nouveau mot de passe" v-model="newPassword">
    <input type="password" placeholder="Confirmation de ce dernier" v-model="confirmNewPassword">
    <button @click="changePass">Valider</button>
  </div>
</template>

<script>
export default {
    name: 'headerBar',
    props: ['isFirstCo'],
    data() {
        return {
            oldPassword: '',
            newPassword: '',
            confirmNewPassword: '',
            email: this.$session.get('user').email || 'oui'
        }
    },
    watch: {
        search () {
            this.$store.commit('searchVal', this.search);
        }
    },
    methods: {
        async changePass () {
            try {
                const axios = this.getAxios(this.$session.get('token'));

                if (!this.oldPassword) {
                    throw new Error('no_pass');
                }

                if (!this.newPassword) {
                    throw new Error('no_new_pass');
                }
                
                if (!this.confirmNewPassword) {
                    throw new Error('no_conf_new_pass');
                }

                if (this.newPassword !== this.confirmNewPassword) {
                    throw new Error('password_not_match');
                }
            
                if (this.newPassword && this.oldPassword && this.confirmNewPassword) await axios.post('/users/password', { email: this.email, oldPassword: this.oldPassword, newPassword: this.confirmNewPassword });
                else throw new Error('miss_pass');

                const result = await axios.post('/auth/login', { email: this.email, password: this.password });
                this.$store.state.commit('isConnected', true);
                this.$session.set('token', result.data);
            }
            catch (error) {
                this.parseError(error);               
            }
        }
    }
}
</script>
<style scoped>
.searchBar
{
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

input
{
    width: 475px;
    height: 50px;
    margin: 0 !important;
    margin-bottom: 20px !important;
}

button
{
    margin-left: 15px;
    height: 52px;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

i
{
    color: white;
    font-size: 36px !important;
}

.isFirstCo
{
    background-color: #c0c0c0 !important;
    font-size: 50px;
    width: 100%;
    height: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.isFirstCoButton
{
    display: none;
}

@media screen and (max-width: 975px) {
    .searchBar
    {
        width: 90%;
        flex-direction: column;
        position: relative;
    }
    input
    {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 10px;
        font-size: 20px;
    }

    button
    {
        font-size: 20px;
    }
}
</style>
